<script type="text/javascript">
    RED.nodes.registerType('intent',{
        category: 'DialogFlow Fulfillment',
        color: '#FFFFFF',
        defaults: {
            intentName: {value:"",required:true}
        },
        inputs:1,
        outputs:1,
        icon: "Google_Assistant_logo.svg",
        label: function() {
            return this.intentName?'Intent: '+this.intentName:'Intent';
        },
        paletteLabel: "Parse Intent",
        labelStyle:{}
    });
</script>

<script type="text/x-red" data-template-name="intent">
    <div class="form-row">
        <label for="node-input-intentName"><i class="icon-tag"></i> Intent Name</label>
        <input type="text" id="node-input-intentName" placeholder="Intent Name">
    </div>
</script>

<script type="text/x-red" data-help-name="intent">
    <p>Fill the node's name with your intent's name on Dialogflow agent,
         This node will pass match intent down the line and filter out unmatch intent.</p>
</script>