<script type="text/javascript">
    RED.nodes.registerType('action',{
        category: 'DialogFlow Fulfillment',
        color: '#FFFFFF',
        defaults: {
            actionName: {value:"",required:true}
        },
        inputs:1,
        outputs:1,
        icon: "Google_Assistant_logo.svg",
        label: function() {
            return this.actionName?'Action: '+this.actionName:'Parse Action';
        },
        paletteLabel: "Parse Action",
        labelStyle:{}
    });
</script>

<script type="text/x-red" data-template-name="action">
    <div class="form-row">
        <label for="node-input-actionName"><i class="icon-tag"></i> Action Name</label>
        <input type="text" id="node-input-actionName" placeholder="Action Name">
    </div>
</script>

<script type="text/x-red" data-help-name="action">
    <p>Fill the node's name with your action's name on Dialogflow agent,
         This node will pass match action down the line and filter out unmatch action.</p>
</script>