
<script type="text/x-red" data-template-name="respSerialization">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
</script>

<script type="text/x-red" data-help-name="respSerialization">
    <p>Serialize msg and output newMsg that can send back to Dialogflow,
        You HAVE to connect this node before http response.
    </p>
</script>

<script type="text/javascript">
    RED.nodes.registerType('respSerialization',{
        category: 'DialogFlow Fulfillment',
        color: '#FFFFFF',
        defaults: {
            name: {value:""},
        },
        inputs:1,
        outputs:1,
        icon: "Google_Assistant_logo.svg",
        label: function() {
            return this.name||"Serialize Response";
        },
        paletteLabel: "Serilaize Response",
        labelStyle:{}
    });
</script>