
<script type="text/x-red" data-template-name="setFollowupEvent">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>

    <div class="form-row">
        <label for="node-input-text"><i class="icon-tag"></i> Follow-up Event</label>
        <input type="text" id="node-input-eventName" placeholder="Event to trigger">
        <input type="hidden" id="node-input-eventType">
    </div>

    <div class="form-row">
        <label for="node-input-eventParams"><i class="icon-tag"></i> Parameters</label>
        <input type="text" id="node-input-eventParams" placeholder="Parameters">
        <input type="hidden" id="node-input-eventParamType">
    </div>

</script>

<script type="text/x-red" data-help-name="setFollowupEvent">
    <p> TO DO </p>
</script>

<script type="text/javascript">
    RED.nodes.registerType('setFollowupEvent',{
        category: 'DialogFlow Fulfillment',
        color: '#FFFFFF',
        defaults: {
            name: {value: ""},
            eventName: {
                value: "", 
                required:false},
            eventParams: {value: ""},
            eventParamType: {value: ""}
        },
        inputs:1,
        outputs:1,
        icon: "Google_Assistant_logo.svg",
        label: function() {
            return this.name||"Followup Event";
        },
        paletteLabel: "Followup Event",
        labelStyle:{}, 
        oneditprepare: function() {
            $('#node-input-eventName').typedInput({
                typeField: $('#node-input-eventType'),
                types: ['str', 'msg', 'flow', 'global']                
            });
            
            $('#node-input-eventParams').typedInput({
                types: ["str", "msg", "flow", "global", "json", "jsonata"],
                typeField: $('#node-input-eventParamType')
            });
        }

    }); 
</script>
