
<script type="text/x-red" data-template-name="simpleResponse">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>

    <div class="form-row">
        <label for="node-input-text"><i class="icon-tag"></i> Text</label>
        <input type="text" id="node-input-text" placeholder="text">
        <input type="hidden" id="node-input-textType">
    </div>

    <div class="form-row">
        <label for="node-input-speech"><i class="icon-tag"></i> Speech</label>
        <input type="text" id="node-input-speech" placeholder="speech">
        <input type="hidden" id="node-input-speechType">
    </div>

    <div class="form-row">
        <label for="node-input-suggestions"><i class="icon-tag"></i> Suggestions</label>
        <input type="text" id="node-input-suggestions" placeholder="suggestion1,suggestion2...">
    </div>

    <div class="form-row">
        <label for="node-input-close"><i class="icon-tag"></i> Close conversation?</label>
        <input type="bool" id="node-input-close" placeholder="false">
    </div>
</script>

<script type="text/x-red" data-help-name="simpleResponse">
    <p>It seems any response should have at least one simple response,
        text and speech can be seperated, and if speech is not specified, it would be the same as text.
    </p>
    <p>
        If msg.simpleresponse is specified, node will use it instead.
    </p>
    <p>
        example => {simpleresponse:{text:'text', speech:'speech'}}
    </p>
    <p>
        If close is specified, suggestions will not be used.
    </p>
</script>

<script type="text/javascript">
    RED.nodes.registerType('simpleResponse',{
        category: 'DialogFlow Fulfillment',
        color: '#FFFFFF',
        defaults: {
            name: {value:""},
            textType: {value:""},
            text: {
                value: "", 
                required:true, 
                validate: RED.validators.typedInput('#node-input-textType')
            },
            speechType: {value: ""},
            speech: {value: ""},
            suggestions: {value: ""},
            close: {value: false}
        },
        inputs:1,
        outputs:1,
        icon: "Google_Assistant_logo.svg",
        label: function() {
            return this.name||"Simple Response";
        },
        paletteLabel: "Simple Response",
        labelStyle:{}, 
        oneditprepare: function() {
            debugger
            $('#node-input-text').typedInput({
                typeField: $('#node-input-textType'),
                types: ['str', 'msg', 'flow', 'global']                
            });
            
            $('#node-input-speech').typedInput({
                typeField: $('#node-input-speechType'),
                types: ['str', 'msg', 'flow', 'global'] 
            });
        }

    }); 
</script>